button {
  width: 100%;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #78809A;
  margin-top: 15px;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
    background: #343c58;
    color: #fff;
    border: none;
  }
}
