div {
  width: 320px;
  height: 76px;
  background: #ffffff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.12);
  button {
    width: 237px;
    height: 47.76px;
    background: #4d8af0;
    border-radius: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
  }
}
