.question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .badge {
    background: #D6D8DE;
    padding: 4px 8px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    .stars-group img:last-of-type {
      margin-right: 10px;
    }

    span {
      display: block;
      color: #343c58;
    }
  }
}
