.question {
  main {
    width: 320px;
    height: 682px;
    .level {
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .middle {
        width: 86px;
        height: 20px;
        background-image: url(./img/Rectangle.png);
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          color: #343c58;
        }
      }
    }
  }
}
