.answer {
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #e4e4e6;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(52, 60, 88, 0.4);
  border-radius: 8px;
  p {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #000000;

  }
  &:hover {
    color:#fff;
    background: #343C58;
    
  }
}
